/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);*/
@import url(//fonts.googleapis.com/css?family=PT+Serif:400italic);
@import url(//fonts.googleapis.com/css?family=Cutive+Mono);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,400italic);

/* Basic styles */
	* {}
	html {}

	body {
		margin: 0;
		height: 100%;
		font-family: "Roboto", sans;
		font-size: 20px;
		font-weight: 300;
		color: #000000;
		background: #F5F5F5;
	}

		p {}

		a { color: #3399CC;} 

		strong, em { font-family: "PT Serif", sans;}

		strong { text-decoration: underline;}

		hr {
			margin-top: 0.8em;
			height: 1px;
			width: 90%;
			border: none;
			/*color:#000000;*/
			background-color:#BDBDBD;
		}

		h1, h2, h3, h4, h5, h6 { margin: 0; transition: all 0.3s ease;}
			h1 { font-size: 2.0em;}
			h2 { font-size: 1.7em;}
			h3 { font-size: 1.4em;}
			h4 {
				font-size: 1.1em;
				margin-bottom: 0.5em;
			}
			h5 { font-size: 0.8em;}
			h6 { font-size: 0.5em;}

		table{}
			tr, th {}
			td{}

		pre, code {
			font-family: "Cutive Mono", sans;
			font-size: 0.9em;
		}

		pre {
			display: block;
			margin: 0.5em;
			background: #EEEEEE;
			line-height: 1.5em;
			border: 1px solid #CCCCCC;
			border-radius:0.5em;
			padding: 0.5em;
			padding-bottom: 0.3em;;
			word-break: break-all;
			word-wrap: break-word;
			overflow-x: scroll;
		}
			pre code {
				padding: 0em;
				border: none;
			}

		code {
			background: #EEEEEE;
			border: 1px solid #CCCCCC;
			border-radius:0.2em;
			padding: 0.5em;
			padding-bottom: 0.1em;;
			padding-top: 0.1em;;
			word-break: break-all;
			word-wrap: break-word;
		}

		blockquote {
			font-family: "PT Serif", serif;
		}
			blockquote p {
				font-style: italic;
				padding: 0.5em;
				margin: 0.5em;
				border-left: 3px solid #90A4AE;
			}

		ul, ol { margin: 0; margin-bottom: 0.7em;}
		ul li {}

		img {}

		span{}

		form {}
		input {}

/*-- ######################################################## -- */

/* Page layout styles */
	header {
		padding-bottom: 0.5em;
		border-bottom: 3px solid #3399CC;
		background: #424242;
	}

	nav {/* moved to aside*/}

	/*aside {
		width: 25%;
		height: auto;
		display: none; /*block;*-/

		padding-top: 0.5em;
		padding-bottom: 0.5em;
		margin-left: 3.5%;
		margin-right: 1.5%;
	}*/

	aside {
		width: 320px;
		overflow: hidden;
		margin: 0.7em;
		display: block;
		text-align: center;
		margin-left: calc(50% - 165px); /*half of width*/
		margin-right: calc(50% - 165px);
		padding-left: 1.2em;
	}
		/* nav menus*/
		aside h4 {
			margin-top: 0.4em;
			margin-left: 0.5em;
			margin-right: 0.5em;
			padding: 0.1em 0.3em;
			background: #FAFAFA;
			border-radius: 0.3em;
			-webkit-box-shadow: 0 0px 8px rgba(0,0,0,0.2);
			-mozilla-box-shadow: 0 0px 8px rgba(0,0,0,0.2);
			box-shadow: 0 0px 8px rgba(0,0,0,0.2);
		}
			aside h4:hover {
				box-shadow: 0 0px 2px #3399CC, 0 0px 8px rgba(0,0,0,0.2);
			}

	section {
		width: 72%;/*65%;*/
		display: block;
		overflow: hidden;

		/*padding-top: 0.7em;*/
		padding-bottom: 1em;
		margin-left: 14%;/*1.5%;*/
		margin-right: 14%;/*3.5%;*/

		text-align: initial !important;
	}

	article {}

	footer {
		position: absolute;
		border-top: 5px solid gray;
		background: #E0E0E0;
		bottom: 0;
	}
		footer p {
			margin-bottom: 0.2em;
			font-weight: 300;
		}

/*-- ######################################################## -- */

/* Classes */
	.clear { clear: both;}
	.full-width { width: 100%;}
	.no-margin { margin: 0;}
	.no-padding { padding: 0;}
	.left {
		float: left;
		text-align: left;
	}
	.center {
		float: none;
		text-align: center;
	}
	.right {
		float: right;
		text-align: right;
	}

	/*aside nav*/
	.navIcons {
		font-weight: 300;
		text-decoration: none;
	}

/*-- ######################################################## -- */
/*geminiBlog settings*/
/*-- ######################################################## -- */

/* listView specific CSS */
	.list-wrapper {
		margin: 0;
		padding-left: 1em;
	}
		.list-wrapper li {
			display: block;
			margin-bottom: 0.5em;
		}
		.list-wrapper li a {text-decoration: none;}

/* snippetView specific CSS */
	.snippet-wrapper {
		cursor: pointer;
		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-top: 0.8em;
		/*padding-bottom: 0.8em;*/
		border-left: 2px solid #F5F5F5;
		border-right: 2px solid #F5F5F5;
		border-bottom: 1px solid #EEEEEE;
		border-top: 1px solid #EEEEEE;
		transition: all 0.3s ease;
	}
		.snippet-wrapper:hover {
			border-left: 2px dotted #3399CC;
			border-right: 2px dotted #3399CC;
			border-top: 1px solid #EEEEEE;
			/*border-radius: 0.6em;*/
			background: #FAFAFA;
			-webkit-box-shadow: 0 13px 6px -6px rgba(0,0,0,0.2), 0 -10px 6px -6px rgba(0,0,0,0.2);
			-mozilla-box-shadow: 0 13px 6px -6px rgba(0,0,0,0.2), 0 -10px 6px -6px rgba(0,0,0,0.2);
			box-shadow: 0 13px 6px -6px rgba(0,0,0,0.2), 0 -10px 6px -6px rgba(0,0,0,0.2);
		}

		.snippet-wrapper p.snippet-head {
			font-size: 0.7em;
			text-align: right;
			margin-bottom: 0.4em;;
		}
		/*.snippet-wrapper hr {
			margin-top: 0.8em;
			height: 1px;
			width: 90%;
			border: none;
			/color:#000000;/
			background-color:#BDBDBD;}*/

		.snippet-wrapper .snippet-body {
			font-size: 0.85em;
			/*cursor: pointer;*/
			max-height: 8em;
			overflow: hidden;
		}
			.snippet-wrapper .snippet-body h1,h2,h3 {
				font-size: 1.3em;
				margin-bottom: 0.1em;
			}
			.snippet-wrapper .snippet-body p {
				margin-top: 0.1em;
			}

/* detailsView specific CSS */
	.details-wrapper {}
		.details-wrapper .details-head {
			font-size: 0.7em;
			text-align: right;
			margin-top: 1em;
			margin-bottom: 1em;
			padding-right: 0.2em;
		}
			.details-wrapper .details-head p {
				display: inline;
				background: #FAFAFA;
				padding: 0.6em;
				margin-top: 0.8em;
				
				border-left: 2px solid #EEEEEE;
				/*border-right: 2px solid #EEEEEE;*/
				border-bottom: 1px solid #EEEEEE;
				border-top: 1px solid #EEEEEE;
				border-radius: 0.5em;

				-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
				-mozilla-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
				box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.3);
			}
		/*.details-wrapper .details-body {
			padding: 1%;
		}*/
			.details-wrapper .details-body h1,h2,h3{
				 margin-bottom: 0.5em;
			}
			.details-wrapper .details-body p{ margin-top: 0.5em; margin-bottom: 1em;}

/* archive view */
	.archive-wrapper{
		cursor: pointer;
		border-left: 2px solid #F5F5F5;
		border-right: 2px solid #F5F5F5;
		border-bottom: 1px solid #F5F5F5;
		border-top: 1px solid #F5F5F5;

		padding-left: 0.5em;
		padding-right: 0.5em;
		padding-top: 0.3em;
		padding-bottom: 0.3em;

		margin-bottom: 0.4em;
		overflow: hidden;
		display: block;
		width: 718px;
		margin-left: calc(51% - 384px);
		margin-right: calc(51% - 384px);
		transition: all 0.5s ease;
	}
		.archive-wrapper:hover {
			border-left: 2px dotted #39c;
			border-right: 2px dotted #3399CC;
			border-bottom: 1px solid #EEEEEE;
			border-top: 1px solid #EEEEEE;
			border-radius: 0.4em;
			background: #FAFAFA;
			/*background: #3399CC;
			/*color: #FFFFFF;*/
			-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3), 0 -5px 6px -6px rgba(0,0,0,0.4);
			-mozilla-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3), 0 -5px 6px -6px rgba(0,0,0,0.4);
			box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3), 0 -6px 6px -6px rgba(0,0,0,0.3);
		}
		.archive-wrapper:hover a{
			/*color: #FFFFFF;*/
			/*font-weight: 400;*/
		}

		.archive-wrapper .date {
			float: left;
			/*vertical-align: super;*/
			text-align: left;
			margin-right: 0.5em;
		}
		.archive-wrapper .link {
			margin-right: 1em;
			margin-left: 1em;
			text-align: center;
			display: inline-block;
			width: auto;
		}
		.archive-wrapper .tags {
			float: right;
			/*vertical-align: sub;*/
			text-align: right;
		}

/* tag styles */
	.tags-container {
		display: block;
		overflow: hidden;
		width: 768px;
		margin-left: calc(53% - 384px);
		margin-right: calc(53% - 384px);
		transition: all 0.3s ease;
	}
		.tags-wrapper {
			/*margin: 0 15% 0.7em;
			display: block;*/
			cursor:pointer;
			font-size: 0.8em;
			text-align: center;
			background: #E0E0E0;
			padding: 1em;
			border-radius: 0.8em;
			/*border: 1px solid gray;*/
			margin-left: 2.8%;
			margin-right: 2.8%;
			float: left;
			width: 22%;
			min-width: 8em;
			overflow: hidden;
			transition: all 0.3s ease;
		}
		.tags-wrapper:hover {
			-webkit-box-shadow:0 2px 6px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.05) inset;
			-mozilla-box-shadow:0 2px 6px rgba(0, 0, 0, 0.4), 0 0 40px rgba(0, 0, 0, 0.05) inset;
			box-shadow:0 2px 6px rgba(0, 0, 0, 0.4), 0 0 20px rgba(0, 0, 0, 0.05) inset;
			background: #FAFAFA;
			}
			.tags-wrapper a {
				font-size: 1.25em;
				display: block;
			}
			.tags-wrapper:hover a {
				/*color: #FFFFFF;*/
				font-weight: 400;
			}

/* button styles */
	a[class^="btn-"] {
		text-decoration: none;
		padding: 0 0.5em;
		border-radius: 0.7em;
		border: 1px solid gray;
		/*background: #F5F5F5;*/
	}
		a[class^="btn-"]:hover {
			background: #9E9E9E;
			color: #FFFFFF;
			font-weight: 400;
		}

	.btn-readMore { display: none;}

/*-- ######################################################### -- */

	.contact {display: none;}
		.contacticon {
			height: 24px;
			width: 24px;
			opacity: 0.30;
			filter: alpha(opacity = 30); /* <IE8 compatibility*/
			padding-bottom: 0.1em;
			transition: all 0.3s ease;
		}
			.contacticon:hover {
				opacity: 0.60;
				filter: alpha(opacity=60); /* <IE8 compatibility*/
			}

/*-- ###############Y######################################### -- */

/* Elements */
	#content-wrapper {
		width: 100%;
		min-height: 100%;
		position: absolute;
		padding-bottom: 4em;
	}

/*-- ######################################################## -- */

/* Responsive properties */
	@media screen and (max-width: 960px) {
		section { /*removed aside*/
			float: none !important;
			text-align: left;
			width: 84%;
			padding-left: 3%;
			padding-right: 3%;
			margin-left: 5%;
			margin-right: 5%;
		}
		.snippet-wrapper .snippet-body { max-height: 10em;}
		.archive-wrapper{
			width: 640px;
			margin-left:calc(49% - 320px);
			margin-right:calc(49% - 320px);
		}
			.archive-wrapper .link { margin: 0 0.3em 0 0.3em;}

	}
	@media screen and (max-width: 720px) {
		body {
			text-align: center;
		}
		header h1 { margin-left: 0 !important;}

		h1 { font-size: 1.8em;}
		h2 { font-size: 1.6em;}
		h3 { font-size: 1.4em;}

		/*aside {
			border-bottom: 1px solid gray;
		}*/

		section { /*removed aside*/
			float: none !important;
			text-align: left;
			width: 94%;
			padding-left: 3%;
			padding-right: 3%;
			margin: 0;
		}
		/*aside { text-align: center !important;}
			.snippet-body { text-align: center;}*/
			.snippet-wrapper .snippet-body { max-height: 12em;}
			.archive-wrapper{
				width: 410px;
				margin-left:calc(55% - 240px);
				margin-right:calc(55% - 240px);
			}
				.archive-wrapper .link { margin: 0 0.3em 0 0.3em;}
				.archive-wrapper .tags { display: none;}
			.tags-container {
				width: 384px;
				margin-left:calc(52% - 192px);
				margin-right:calc(52% - 192px);
			}
	}
	@media screen and (max-width: 640px) {}

	@media screen and (max-width: 480px), handheld and (orientation: portrait) {

		h1 { font-size: 1.4em;}
		h2 { font-size: 1.3em;}
		h3 { font-size: 1.2em;}

		blockquote {
			margin-right: 0;
			margin-left: 1em;
		}
			.snippet-wrapper .snippet-body { max-height: 14em;}
			.details-wrapper .details-head p .tags{ display: none;}
			.archive-wrapper{
				width: 340px;
				margin-left:calc(50% - 130px);
				margin-right:calc(50% - 130px);
			}
				.archive-wrapper .date { display: none;}
				.archive-wrapper .tags { display: none;}
			.tags-container {
				margin-left:calc(53% - 192px);
				margin-right:calc(53% - 192px);
			}
	}
	@media screen and (max-width: 360px) {}
	@media print {}
